@import '../utils/mediaqueries.scss';

.profile {
    h1 {
        text-align: left;
        @include sm {
            margin-top: 6rem;
        }
        margin-left: 2.5rem;
    }
    .field__input {
        @include sm {
            width: 11.625rem;
        }
    }
    .message {
        margin-left: 2.5rem;
        @include sm {
            margin-left: 0;
        }
    }
}

.layer--profile {
    @include sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile__form {
    display: flex;
    align-items: end;
}

.profile__form > * {
    margin-right: 0;
}

.profile__form {
    button {
        height: 2.625rem;
        margin-left: .3125rem;
        width: auto;
    }
}

.field__input--delete {
    cursor: pointer;
}