@import './utils/variable.scss';

body {
  margin: 0;
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  background-color: #000000;
  color: #FFFFFF;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none; 
}

ul {
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white-secondary;
}